<footer class="app-footer">
    <div class="float-end d-none d-sm-inline"></div>
    <strong>&copy; 2024 <a href="nama.gov.gh">Nsawam-Adoagyiri Municipal Assembly</a>. All rights reserved.</strong>
  </footer>
  